#header{
    width:1000px;
    height:100px;
    background:#eee;

    margin:0 auto 0 auto;
    display:table;
}
#content{
    width:1000px;
    height:auto;
    background:#eee;
    margin:0 auto 0 auto;
    display:table;
}
#footer{
    
    margin:0 auto 0 auto;
    display:table;
}
.websitesilogo{
    margin:15px auto 15px auto;
    display:table;

    width:300px;
    height:auto;
}
.menu{
    margin:0 auto 0 auto;
    display:table;
}
.menu li{
    float:left;
    list-style-type:none;
    margin-right:15px;
    padding: 5px 10px;

    border:2px solid #000;
}
.menu li a{
    color:#000;
    font-size:18px;
    text-decoration:none;
    
}
.menu li a:hover{
    color:#b50024;
    
}